@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2C4058;
  background: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.telephone-information {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.telephone-information__notate {
  margin-left: 20px;
  margin-top: 8px;
}

.hero {
  background-image: url(/img/hero-background.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 948px;
  overflow: hidden;
}

.hero__content__info {
  position: absolute;
  top: 160px;
  left: 15%;
}

.line {
  height: 1px;
  width: 26px;
  margin-right: 20px;
  margin-top: 17px;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.barn {
  position: absolute;
  left: 340px;
  bottom: 16.87%;
  z-index: 2;
}

.birds {
  position: absolute;
  right: 12.45%;
  top: 16.56%;
  z-index: 1;
}

.girl-on-horse-right {
  position: absolute;
  right: 17.5%;
  top: 19%;
  z-index: 3;
}

.girl-on-horse-left {
  position: absolute;
  left: 720px;
  top: 560px;
  z-index: 2;
}

.trees {
  position: absolute;
  left: 0;
  top: 460px;
  z-index: 1;
}

.bush-left {
  position: absolute;
  left: 0;
  bottom: 65px;
  z-index: 4;
}

.bush-right {
  position: absolute;
  right: 0;
  bottom: 75px;
  z-index: 4;
}

.clouds-bottom {
  position: absolute;
  bottom: 90px;
  left: 0;
  height: 170px;
  z-index: 3;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 89px;
}

.about__content {
  width: 60%;
}

.about__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
  -webkit-column-gap: 65px;
          column-gap: 65px;
  margin-bottom: 41px;
}

.about__card {
  width: 42%;
}

.why {
  text-align: center;
  margin-top: 185px;
}

.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 76px;
}

.why__card {
  width: 22%;
}

.questions {
  width: 100%;
  height: 100vh;
  background: url(../img/questions.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 140px 0 121px;
}

.questions__owerlay {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__large-img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.questions__img {
  width: 297px;
  height: 371px;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.questions__form {
  position: absolute;
  right: 15%;
  width: 470px;
  height: 547px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding: 60px 66px;
  text-align: center;
}

.questions__checkbox {
  text-align: left;
  margin-top: 30px;
}

.questions__cloud {
  position: absolute;
  height: 198px;
  width: 100%;
}

.questions__cloud--top {
  background: url(../img/облакtop.png);
  top: -1px;
  background-size: cover;
  background-repeat: no-repeat;
}

.questions__cloud--bottom {
  background: url(../img/облакbottom.png);
  bottom: -1px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.map {
  height: 650px;
  position: relative;
}

.map__tree {
  position: absolute;
  bottom: -85px;
  z-index: 1;
}

.map__tree--left {
  left: -60px;
}

.map__tree--right {
  right: 0px;
}

.contacts {
  position: absolute;
  left: 10%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  top: 50%;
  width: 500px;
  height: 500px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding: 50px 70px;
}

.contacts__content {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contacts__icon {
  width: 32px;
  height: 32px;
  background-color: #FFC700;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contacts__icon:hover {
  background-color: #C89C00;
}

.footer {
  width: 100%;
  height: 138px;
  background-color: #0B0B0B;
  position: relative;
  z-index: 5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  margin-bottom: 27px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 15px;
  color: #EAEAEA;
}

.footer__text-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7D808A;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal__overlay {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
}

.modal__content {
  max-width: 1200px;
  background: #55565B;
  padding: 70px 46px;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.461);
          box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.461);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  max-height: 90vh;
  overflow: auto;
}

.modal__form {
  text-align: center;
}

.slider {
  margin-top: 70px;
}

.slider__item {
  position: relative;
  height: 100%;
  border: none;
  cursor: pointer;
}

.slider__item:hover .slider__overlay {
  opacity: 1;
}

.slider__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  opacity: 0;
  position: absolute;
}

.slider__card {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.is-active {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}

.is-active > .slider__image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider .slick-arrow {
  position: absolute;
  bottom: -65px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 5;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: 40%;
}

.slider .slick-arrow.slick-prev::before {
  content: url(../img/left.png);
}

.slider .slick-arrow.slick-next {
  right: 40%;
}

.slider .slick-arrow.slick-next::before {
  content: url(../img/right.svg);
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.slick-dots {
  position: absolute;
  bottom: -60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.slick-dots button {
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  width: 11px;
  height: 12px;
  border: none;
  background: #E1E1E1;
}

.slick-dots li.slick-active button {
  background: #FFC700;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.sign-up {
  position: absolute;
  width: 270px;
  height: 70px;
  left: 15%;
  top: 430px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9BCFFF), color-stop(0.01%, #FFF383), to(#FFC700));
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  -webkit-box-shadow: 0px 4px 0px #C89C00;
          box-shadow: 0px 4px 0px #C89C00;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
  text-decoration: none;
}

.call-button {
  border: 1px solid #FDE724;
  border-radius: 5px;
  padding: 14px 41px;
  background: transparent;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 18px;
  color: #F5F5F5;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 61px;
  background: transparent;
  border: 1px solid #8F8F8F;
  border-radius: 5px;
  padding: 20px 21px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  margin-bottom: 20px;
}

.input--light {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.input:focus {
  border: 1px solid #FF5C00;
  border-radius: 5px;
  outline: none;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#9BCFFF), color-stop(0.01%, #FFF383), to(#FFC700));
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  -webkit-box-shadow: 0px 4px 0px #C89C00;
          box-shadow: 0px 4px 0px #C89C00;
  border-radius: 10px;
  border: none;
  padding: 28px 69px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6A5300;
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: relative;
  cursor: pointer;
}

.checkbox:checked + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: -22px;
  width: 4px;
  height: 8px;
  border: solid green;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon {
  color: #FFC700;
  margin-right: 12px;
}

.img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.close-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  padding: 14px 18px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.hero-title {
  font-family: 'Philosopher';
  font-weight: 700;
  font-size: 57px;
  line-height: 107%;
  color: #000000;
}

.hero-us {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #646464;
}

.hero-us > span {
  font-weight: bold;
}

.button-sign-up {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
}

.form-title {
  font-family: 'Philosopher';
  font-size: 35px;
  line-height: 35px;
  color: #363434;
  white-space: nowrap;
}

.form-title--light {
  font-size: 38px;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.sub-title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.sub-title--line {
  text-align: left;
  position: relative;
}

.sub-title--line::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 1px;
  left: 0;
  top: 55px;
  background: #008139;
}

.text {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 21px;
  color: #7E7E7E;
}

.text--light {
  color: #FFFFFF;
  font-size: 16px;
  margin: 30px 0;
  letter-spacing: 3px;
}

.text--green {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 160%;
  color: #008139;
}

.text--dark {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #0B0B0B;
}

.text--mr {
  margin: 15px 30px;
}

.text--mr-top {
  margin: 25px 0 0 0;
}

.text-underline {
  text-decoration: underline;
}

.text-label {
  position: relative;
  margin-left: 5px;
}

.text-label::before {
  content: "";
  position: absolute;
  padding: 7px;
  border: 2px solid #FFC700;
  border-radius: 2px;
  left: -28px;
  top: 1px;
}

.why-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #0B0B0B;
  margin: 23px 0 26px;
}

@media (max-width: 1024px) {
  .about__text {
    position: absolute;
    width: 98%;
    left: 1%;
  }
  .about__content {
    width: 100%;
  }
  .about__col {
    -webkit-column-gap: 8px;
            column-gap: 8px;
  }
  .map__tree {
    display: none;
  }
  .contacts {
    left: 4%;
    width: 445px;
  }
}

@media (max-width: 768px) {
  .text--dark {
    font-size: 12px;
    line-height: 18px;
  }
  .text--green {
    font-size: 27px;
  }
  .why__content {
    gap: 12px;
  }
  .why__card {
    width: 20%;
  }
  .about__row {
    margin-top: 40px;
  }
  .about__content {
    width: 100%;
  }
  .questions {
    height: 1107px;
  }
  .questions__img {
    display: none;
  }
  .questions__owerlay {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 1100px;
  }
  .questions__large-img {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    left: 50%;
  }
  .questions__form {
    -webkit-transform: translate(50%, 0px);
            transform: translate(50%, 0px);
    right: 50%;
    margin-top: 70px;
  }
  .contacts {
    padding: 40px;
    width: 354px;
    height: 425px;
  }
  .call-button {
    padding: 16px 28px;
  }
  .footer {
    height: 160px;
  }
  .footer__content {
    gap: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 13px;
  }
  .text--mr {
    width: 100%;
    margin: 15px 0;
  }
  .text--dark, .text--green {
    text-align: center;
  }
  .btn {
    padding: 25px 52px;
    font-size: 13px;
  }
  .form-title {
    font-size: 27px;
  }
  .about__content {
    width: 100%;
  }
  .about__image {
    display: none;
  }
  .about__col {
    row-gap: 30px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .about__text {
    position: static;
  }
  .why {
    margin-top: 70px;
  }
  .why__content {
    gap: 24px;
  }
  .why__card {
    width: 40%;
  }
  .contacts {
    width: 319px;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    left: 50%;
    bottom: -20px;
  }
  .questions__form {
    width: 400px;
  }
  .questions__large-img {
    width: 100%;
  }
  .footer {
    height: 390px;
    margin-top: 147px;
  }
  .footer__content {
    gap: 30px;
  }
  .footer__content-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .modal__content {
    padding: 98px 16px;
  }
}

@media (max-width: 420px) {
  .questions__form {
    width: 97%;
    padding: 26px;
    height: 500px;
  }
  .form-title {
    font-size: 22px;
    line-height: 14px;
    white-space: normal;
  }
  .btn {
    padding: 17px 8px;
  }
  .btn--media {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .questions {
    height: 813px;
  }
  .questions__owerlay {
    height: 813px;
  }
  .questions__form {
    height: 425px;
    margin-top: 40px;
  }
  .why__content {
    gap: 44px;
  }
  .why__card {
    width: 100%;
  }
  .about__card {
    width: 100%;
    text-align: center;
  }
  .contacts {
    width: 98%;
    padding: 25px;
    height: 408px;
  }
  .footer {
    height: 541px;
  }
  .footer__content {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
