.header {
    display: flex;
    padding: 28px 0;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    z-index: 1;
    align-items: center;
    transform: translate(-50%, 0);
    left: 50%;

    &__navigation {
        display: flex;
    }

    &__list {
        display: flex;
        gap: 30px;
    }
}

.telephone-information {
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    &__notate {
        margin-left: 20px;
        margin-top: 8px;
    }
}

.hero {
    background-image: url(/img/hero-background.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 948px;
    overflow: hidden;

    &__content {
        &__info {
            position: absolute;
            top: 160px;
            left: 15%;
        }
    }
}

.line {
    height: 1px;
    width: 26px;
    margin-right: 20px;
    margin-top: 17px;
}

.hero-text {
    display: flex;
    margin-top: 60px;

}


.barn {
    position: absolute;
    left: 340px;
    bottom: 16.87%;
    z-index: 2;
}

.birds {
    position: absolute;
    right: 12.45%;
    top: 16.56%;
    z-index: 1;
}

.girl-on-horse-right {
    position: absolute;
    right: 17.5%;
    top: 19%;
    z-index: 3;
}

.girl-on-horse-left {
    position: absolute;
    left: 720px;
    top: 560px;
    z-index: 2;
}

.trees {
    position: absolute;
    left: 0;
    top: 460px;
    z-index: 1;
}

.bush-left {
    position: absolute;
    left: 0;
    bottom: 65px;
    z-index: 4;
}

.bush-right {
    position: absolute;
    right: 0;
    bottom: 75px;
    z-index: 4;
}

.clouds-bottom {
    position: absolute;
    bottom: 90px;
    left: 0;
    height: 170px;

    z-index: 3;
}

.about {
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 89px;
    }

    &__content {
        width: 60%;
    }

    &__col {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 65px;
        margin-bottom: 41px;
    }

    &__card {
        width: 42%;
    }
}

.why {
    text-align: center;
    margin-top: 185px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 29px;
        align-items: center;
        justify-content: center;
        margin-top: 76px;
    }

    &__card {
        width: 22%;
    }
}

.questions {
    width: 100%;
    height: 100vh;
    background: url(../img/questions.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 140px 0 121px;

    &__owerlay {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;


    }

    &__large-img {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    &__img {
        width: 297px;
        height: 371px;
        position: absolute;
        bottom: 0;
        right: 5%;
    }

    &__form {
        position: absolute;
        right: 15%;
        width: 470px;
        height: 547px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        padding: 60px 66px;
        text-align: center;
    }

    &__checkbox {
        text-align: left;
        margin-top: 30px;
    }

    &__cloud {
        position: absolute;
        height: 198px;
        width: 100%;

        &--top {
            background: url(../img/облакtop.png);
            top: -1px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--bottom {
            background: url(../img/облакbottom.png);
            bottom: -1px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 3;
        }
    }
}

.map {
    height: 650px;
    position: relative;

    &__tree {
        position: absolute;
        bottom: -85px;
        z-index: 1;

        &--left {
            left: 0px;
        }

        &--right {
            right: 0px;
        }
    }
}

.contacts {
    position: absolute;
    left: 15%;
    transform: translate(0px, -50%);
    top: 50%;
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 50px 70px;

    &__content {
        margin-top: 73px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__icons {
        display: flex;
        gap: 13px;
        align-self: flex-end;
    }
    &__icon {
        width: 32px;
        height: 32px;
        background-color: #FFC700;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
            background-color: #C89C00;
        }
    }
}


.footer {
    width: 100%;
    height: 138px;
    background-color: #0B0B0B;
    position: relative;
    z-index: 5;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        margin-bottom: 27px;
    }

    &__content {
        display: flex;
        gap: 29px;
        align-items: center;
    }

    &__text {
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 15px;
        color: #EAEAEA;

        &-underline {
            text-decoration-line: underline;
            color: #7D808A;
        }
    }
}