.section {
    height: 100px;
    width: 100%;
}

.display-none {
    display: none;
}

.ul-display-none {
    display: none;
}


.header {
    height: 30px;
    width: 100%;
    position: absolute;
    z-index: 4;
    transform: translate(-50%, 0);
    left: 50%;
    top: 15px;
    display: flex;
    justify-content: space-between;

    &__navigation {
        display: flex;
    }
    
    &__logo {
        height: 30px;
        width: 90px;
    }
}

.overflow {
    overflow: hidden;
}

.dark-page-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    z-index: 7;
    transform: translate(-50%, 0);
    left: 50%;
    top: 50px;
}

.dark-page {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.897);
    position: absolute;
    z-index: 0;
    top: -15px;
    left: 0;
}



.telephone-information {
    display: none;
}

.hero {
    background-image: url(/img/hero-background.png);
    height: 560px;
    background-size: auto 120%;
    background-position: left -280px top -6px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.hero-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    top: 140px;
}

.hero-title {
    width: 320px;
    height: 55px;
    margin-bottom: 25px;
}

.line-with-hero-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.line {
    height: 1px;
    width: 15px;
    margin-bottom: 15px;
}

.hero-us {
    width: 320px;
    height: 35px;
}

.hero-us-text {
    font-size: 13px;
    line-height: 18px;
}

.barn {
    position: absolute;
    left: -40px;
    bottom: 25px;
    z-index: 1;
    height: 80px;
    width: 180px;
}

.birds {
    position: absolute;
    right: 210px;
    top: 90px;
    z-index: 1;
    height: 24px;
    width: 75px;
}

.girl-on-horse-left {
    display: none;
}

.girl-on-horse-right {
    position: absolute;
    right: 35px;
    bottom: 15px;
    z-index: 0;
    height: 190px;
    width: 190px;
}

.trees {
    position: absolute;
    left: -85px;
    bottom: 40px;
    z-index: 2;
    height: 108px;
    width: 145px;
}

.bush-left {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 90px;
    width: 45px;
    z-index: 4;
}

.bush-right {
    position: absolute;
    right: 0;
    bottom: 8px;
    z-index: 4;
    height: 130px;
    width: 35px;
}

.clouds-bottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 50px;
    z-index: 3;
}

.about {
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 89px;
    }

    &__content {
        width: 60%;
    }

    &__col {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 65px;
        margin-bottom: 41px;
    }

    &__card {
        width: 42%;
    }
}

.why {
    text-align: center;
    margin-top: 185px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 29px;
        align-items: center;
        justify-content: center;
        margin-top: 76px;
    }

    &__card {
        width: 22%;
    }
}

.questions {
    width: 100%;
    height: 100vh;
    background: url(../img/questions.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 140px 0 121px;

    &__owerlay {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;


    }

    &__large-img {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    &__img {
        width: 297px;
        height: 371px;
        position: absolute;
        bottom: 0;
        right: 5%;
    }

    &__form {
        position: absolute;
        right: 15%;
        width: 470px;
        height: 547px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        padding: 60px 66px;
        text-align: center;
    }

    &__checkbox {
        text-align: left;
        margin-top: 30px;
    }

    &__cloud {
        position: absolute;
        height: 198px;
        width: 100%;

        &--top {
            background: url(../img/облакtop.png);
            top: -1px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--bottom {
            background: url(../img/облакbottom.png);
            bottom: -1px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 3;
        }
    }
}

.map {
    height: 650px;
    position: relative;

    &__tree {
        position: absolute;
        bottom: -85px;
        z-index: 1;

        &--left {
            left: -60px;
        }

        &--right {
            right: 0px;
        }
    }
}

.contacts {
    position: absolute;
    left: 10%;
    transform: translate(0px, -50%);
    top: 50%;
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 50px 70px;

    &__content {
        margin-top: 73px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__icons {
        display: flex;
        gap: 13px;
        align-self: flex-end;
    }

    &__icon {
        width: 32px;
        height: 32px;
        background-color: #FFC700;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
            background-color: #C89C00;
        }
    }
}


.footer {
    width: 100%;
    height: 138px;
    background-color: #0B0B0B;
    position: relative;
    z-index: 5;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        margin-bottom: 27px;
    }

    &__content {
        display: flex;
        gap: 29px;
        align-items: center;
    }

    &__text {
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 15px;
        color: #EAEAEA;

        &-underline {
            text-decoration-line: underline;
            color: #7D808A;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &__overlay {
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    &__content {
        max-width: 1200px;
        background: #55565B;
        padding: 70px 46px;
        border-radius: 8px;
        position: relative;
        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.461);
        display: flex;
        gap: 25px;
        max-height: 90vh;
        overflow: auto;

    }

    &__form {
        text-align: center;
    }


}