.header {
    background-image: url(/img/header__background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 564px;
    position: relative;
    z-index: 0;
    &__bottom__cloud__background{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: auto;
    }
}

.footer {
  width: 100%;
  height: 138px;
  background-color: #0B0B0B;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 27px;
  }

  &__content {
    display: flex;
    gap: 29px;
    align-items: center;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 15px;
    color: #EAEAEA;

    &-underline {
      text-decoration-line: underline;
      color: #7D808A;
    }
  }
}
