.burger-menu-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #202020;
}

.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #202020;
}

.dark-page-list-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    text-decoration-line: underline;
}

.telephone-information-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-align: right;
    color: #202020;
}

.telephone-information-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #7D808A;
}

.hero-title-text {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.hero-us-text {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #646464;
}

.hero-us>span {
    font-weight: bold;
}

.sign-up>span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.section-title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #363434;
}

.section-sub-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #363434;
}

.direction-card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #363434;
    display: inline-block;
    text-align: center;
}

.direction-card-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #7E7E7E;
}

.form-title {
    font-family: 'Philosopher';
    font-size: 35px;
    line-height: 35px;
    color: #363434;
    white-space: nowrap;

    &--light {
        font-size: 38px;
        letter-spacing: 5px;
        color: $secondary-color;
    }
}

.sub-title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #000000;
    text-align: center;

    &--line {
        text-align: left;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 26px;
            height: 1px;
            left: 0;
            top: 55px;
            background: #008139;
        }

    }
}

.text {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 21px;
    color: #7E7E7E;

    &--light {
        color: $secondary-color;
        font-size: 16px;
        margin: 30px 0;
        letter-spacing: 3px;
    }

    &--green {
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 160%;
        color: #008139;
    }

    &--dark {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: #0B0B0B;
    }

    &--mr {
        margin: 15px 30px;

        &-top {
            margin: 25px 0 0 0;
        }
    }

    &-underline {
        text-decoration: underline;
    }

    &-label {
        position: relative;
        margin-left: 5px;

        &::before {
            content: "";
            position: absolute;
            padding: 7px;
            border: 2px solid #FFC700;
            border-radius: 2px;
            left: -28px;
            top: 1px;

        }
    }
}

.why-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #0B0B0B;
    margin: 23px 0 26px;
}